.Navbar {
    background-color:#080808;
    position: fixed;
    display: flex;
    height: min-content;
    width: 100%
}

.Navbar header {
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    width: max-content;
}

.Navbar h1 {
    padding: 0;
    margin: 0;
}

.Navbar p {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: calc(2vmin);
    color: inherit;
    text-decoration: none;
    color: #4b4b4b;
    align-self: flex-end;
    width: max-content;
}

.Navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-self: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Navbar a {
    color: inherit;
    text-decoration: none;
    display: flex;
    padding-inline: 1rem;
    width: max-content;
}

.Navbar li:hover {
    background-color: #121212;
}

.Navbar li.active {
    background-color: #121212;
}